MarketOnline/CartService.Application.IntegrationTests/bin/
MarketOnline/CartService.Application.IntegrationTests/obj/
MarketOnline/ProductService.Domain/obj/
MarketOnline/ProductService.Application/bin/
MarketOnline/ProductService.Application/obj/
MarketOnline/Common.Domain/obj/
MarketOnline/ProductService.Domain/bin/
MarketOnline/CartService/obj/
MarketOnline/CartService.Tests/obj/
MarketOnline/CartService.Infrastructure/obj/
MarketOnline/CartService.Infrastructure/bin/
MarketOnline/CartService.Domain/obj/
MarketOnline/Common.Domain/bin/
MarketOnline/CartService.Domain.Tests/obj/
MarketOnline/CartService.Domain/bin/
MarketOnline/CartService.Domain.Tests/bin/
MarketOnline/CartService.Application/obj/
MarketOnline/CartService.Application/bin/
MarketOnline/.vs/
