MarketOnline/CartService.Application.IntegrationTests/bin/
MarketOnline/CartService.Application.IntegrationTests/obj/
MarketOnline/ProductService.Domain/obj/
MarketOnline/ProductService.Application/bin/
MarketOnline/ProductService.Application/obj/
MarketOnline/Common.Domain/obj/
MarketOnline/ProductService.Domain/bin/
MarketOnline/CartService/obj/
MarketOnline/CartService.Tests/obj/
MarketOnline/CartService.Infrastructure/obj/
MarketOnline/CartService.Infrastructure/bin/
MarketOnline/CartService.Domain/obj/
MarketOnline/Common.Domain/bin/
MarketOnline/CartService.Domain.Tests/obj/
MarketOnline/CartService.Domain/bin/
MarketOnline/CartService.Domain.Tests/bin/
MarketOnline/CartService.Application/obj/
MarketOnline/CartService.Application/bin/
MarketOnline/.vs/
MarketOnline/CartService.API/bin/
MarketOnline/CartService.API/obj/
MarketOnline/CatalogService.API/bin/
MarketOnline/CatalogService.API/obj/
MarketOnline/CatalogService.Infrastructura/bin/
MarketOnline/CatalogService.Infrastructura/obj/
MarketOnline/CatalogService.IntegrationTest/bin/
MarketOnline/CatalogService.IntegrationTest/obj/
MarketOnline/CatalogService.UnitTests/bin/
MarketOnline/CatalogService.UnitTests/obj/
MarketOnline/CartService.APITests/bin/Debug/net8.0/appsettings.Development.json
MarketOnline/CartService.APITests/bin/
MarketOnline/CartService.APITests/obj/CartService.APITests.csproj.nuget.dgspec.json
MarketOnline/CartService.APITests/obj/
MarketOnline/CatalogService.APITests/bin/
MarketOnline/CatalogService.APITests/obj/
